html {
    scroll-behavior: smooth;
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input,
select,
textarea {
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    outline: none !important;
}

a,
button {
    outline: none !important;
    box-shadow: none !important;
}

body {
    background: var(--white);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-dark);
}

.row-25 {
    margin-left: -2.5px;
    margin-right: -2.5px;
}

.row-25 > [class*=col] {
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row-5 > [class*=col] {
    padding-left: 5px;
    padding-right: 5px;
}


.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row-10 > [class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: var(--theme-dark);
    color: var(--theme-dark-color-light);
    font: 400 14px/1.6 'Sarabun', sans-serif;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading .heading-title {
    font-size: 2.8em;
    color: var(--theme-dark-color-light);
    font-weight: 800;
}

.section-heading .heading-desc {
    color: var(--theme-dark-color-light);
    font-size: 1.1em;
}

.section-gap {
    padding: 50px 0;
}

.section-community {
    background-color: var(--theme-dark);
    color: var(--theme-dark-color-light);
}

.section-community .community-inner .community-flex {
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.section-community .community-inner .community-flex .community-item {
    position: relative;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background: #F7F9FC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.section-community .community-inner .community-flex .community-item .community-item_icon {
    width: 36px;
    height: 36px;
    font-size: 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-community .community-inner .community-flex .community-item .community-item_icon svg {
    width: 100%;
    height: 100%;
}

.section-community .community-inner .community-flex .community-item .community-item_icon svg path {
    transition: var(--transition);
}

.section-community .community-inner .community-flex .community-item .community-item_icon .community-item_image {
    height: 30px;
}

.section-community .community-inner .community-flex .community-item .community-item_list {
    position: absolute;
    background: var(--theme-dark-light);
    box-shadow: 0 2px 4px rgb(185 192 200 / 41%);
    bottom: 67px;
    left: -5px;
    padding: 10px;
    border-radius: 3px;
    width: 300px;
    z-index: 3;
    display: none;
}

.section-community .community-inner .community-flex .community-item .community-item_list > i {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 34px;
    background: var(--theme-dark-light);
    box-shadow: 0 1px 2px rgb(185 192 200 / 41%);
    transform: rotate(45deg);
    bottom: -5px;
}

.section-community .community-inner .community-flex .community-item .community-item_list > ul {
    display: flex;
    flex-wrap: wrap;
}

.section-community .community-inner .community-flex .community-item .community-item_list > ul > li {
    padding: 3px;
    width: 33.3%;
    min-width: 85px;
}

.section-community .community-inner .community-flex .community-item .community-item_list > ul > li > a {
    color: var(--theme-dark-color-light);
}

.section-community .community-inner .community-flex .community-item .community-item_list > ul > li:hover > a {
    color: var(--primary-color);
}

.section-community .community-inner .community-flex .community-item:hover {
    box-shadow: 0 4px 8px rgb(185 192 200 / 41%);
}

.section-community .community-inner .community-flex .community-item:hover .community-item_icon svg path {
    fill: var(--primary-color);
}

.section-community .community-inner .community-flex .community-item:hover .community-item_list {
    display: block;
}
